{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "useBuiltIns": "entry" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css" // `style: true` 会加载 less 文件
      }
    ],
    "@babel/plugin-transform-async-to-generator"
  ]
}
