.login-form {
  width: 600px;
  height: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  color: #096dd9;
}
body {
  background: #e8e8e8;
}
